@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

$font-1: "font-1", sans-serif;
$color-1: #3f95fe;
$color-2: salmon;
$color-3: #282c34;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo_container {
    @include flexCenter;
    padding: 50px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
    width: auto;
    position: center;
    font-family: 'Pacifico', cursive;
    background-image: url(src/logoBg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}



#logo {
    width: 50px;
    height: 50px;
}

input {
    margin: 5px 15px 5px 5px;
}

.display_none {
    display: none;
}

body {
    background-color: $color-2;

    li {
        list-style-type: none;
    }
}

header {
    background: url(src/backgroundUp.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: rgb(212, 40, 43);
}

nav {

    font-size: 0.8em;
    font-weight: bolder;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    min-height: 100px;
    z-index: 5;
    padding: 0 0 20px 0;


    #typeDiv {
        width: 75%;
        border: solid;
        @include flexCenter;
        justify-content: space-between;
        border-color: $color-3;
        flex-wrap: wrap;
        border-radius: 20px;
        padding: 5px 15px 5px 15px;
        background-color: $color-2;
        color: $color-3;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);

        label {
            margin: 5px 10px 2px 10px;
            padding: 0 10px;
            border-radius: 20px;
            border: solid;

            &:hover {
                transform: scale(1.2);
            }

            &:active {
                transform: scale(0.9);
            }
        }

        legend {
            color: $color-1;
        }

        .checked {
            color: $color-1;
            background-color: $color-3;
        }

        .unchecked {
            color: $color-3;
        }
    }

    #generationDiv {

        min-width: 75%;
        margin-bottom: 10px;
        border: solid;
        border-color: $color-3;
        background-color: $color-2;
        border-radius: 20px;
        padding: 5px 15px 5px 15px;
        color: $color-3;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);

        legend {
            color: $color-1;
        }
    }

    #spritesDiv {
        display: none;
    }
}

#pokemonList {
    background: url(src/backList.jpg);
    background-size: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;

    .carte {
        background-image: url(src/ball.png);
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: 0 15%;
        position: relative;
        height: 100px;
        width: 100px;
        border-radius: 4px;

        h2 {
            font-size: 1rem;
            color: $color-1;
        }

        &:hover {
            z-index: 2;

            .infos {
                opacity: 1;
                transform: scaleY(1);
            }
        }


        .infos {
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.7);
            color: white;
            height: 100%;
            width: 100%;
            display: grid;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            opacity: 0;
            transform: scale(0);
            transition: 0.3s;
        }

        .imagePkmn {
            height: 100px;
            width: 100px;
            object-fit: cover;
            border-radius: 10px;
        }
    }
}

footer {
    height: 250px;
    @include flexCenter;
    color: $color-3;
    background-image: url('src/backgroundDown.png');
    background-size: cover;

}