* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

.logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  font-size: 2em;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 40px;
  width: auto;
  position: center;
  font-family: "Pacifico", cursive;
  background-image: url(src/logoBg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#logo {
  width: 100px;
  height: 100px;
}

input {
  margin: 0px 30px 0px 5px;
}

.display_none {
  display: none;
}

body {
  background-color: salmon;
}
body li {
  list-style-type: none;
}

header {
  background: url(src/backgroundUp.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: rgb(212, 40, 43);
}

nav {
  font-size: 1.5em;
  font-weight: bolder;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  min-height: 100px;
  z-index: 5;
  padding: 0 0 40px 0;
}
nav #typeDiv {
  width: 75%;
  border: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #282c34;
  flex-wrap: wrap;
  border-radius: 40px;
  padding: 10px 30px 10px 30px;
  background-color: rgba(250, 128, 114, 0.5);
  color: #282c34;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
}
nav #typeDiv legend {
  order: 0;
  align-self: center;
  color: #3f95fe;
}
nav #typeDiv label {
  margin: 10px 20px 4px 20px;
  padding: 0 20px;
  border-radius: 40px;
  border: solid;
}
nav #typeDiv label:hover {
  transform: scale(1.2);
}
nav #typeDiv label:active {
  transform: scale(0.9);
}
nav #typeDiv .checked {
  color: #3f95fe;
  background-color: #282c34;
}
nav #typeDiv .unchecked {
  color: #282c34;
}
nav #generationDiv {
  min-width: 75%;
  max-width: 95%;
  margin-bottom: 20px;
  border: solid;
  border-color: #282c34;
  background-color: rgba(250, 128, 114, 0.5);
  border-radius: 40px;
  padding: 10px 30px 10px 30px;
  color: #282c34;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
}
nav #generationDiv legend {
  color: #3f95fe;
}
nav #spritesDiv {
  display: none;
}

#pokemonList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  display: flex;
}
#pokemonList .carte {
  background-image: url(src/ball.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 0 15%;
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 8px;
  cursor: pointer;
}
#pokemonList .carte:hover {
  z-index: 2;
}
#pokemonList .carte:hover .infos {
  opacity: 1;
  transform: scaleY(1);
}
#pokemonList .carte:active {
  transform: scale(0.85);
}
#pokemonList .carte .infos {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  opacity: 0;
  transform: scale(0);
  transition: 0.3s;
}
#pokemonList .carte .imagePkmn {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

footer {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #282c34;
  background-image: url("src/backgroundDown.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
}

/*# sourceMappingURL=styles.css.map */
