@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

$color-1: #3f95fe;
$color-2: salmon;
$color-3: #282c34;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

.logo_container {
    @include flexCenter;
    padding: 100px;
    font-size: 2em;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 40px;
    width: auto;
    position: center;
    font-family: 'Pacifico', cursive;
    background-image: url(src/logoBg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}



#logo {
    width: 100px;
    height: 100px;
}

input {
    margin: 0px 30px 0px 5px;
}

.display_none {
    display: none;
}

body {
    background-color: $color-2;

    li {
        list-style-type: none;
    }
}

header {
    background: url(src/backgroundUp.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: rgb(212, 40, 43);
}

nav {

    font-size: 1.5em;
    font-weight: bolder;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    min-height: 100px;
    z-index: 5;
    padding: 0 0 40px 0;


    #typeDiv {
        width: 75%;
        border: solid;
        @include flexCenter;
        border-color: $color-3;
        flex-wrap: wrap;
        border-radius: 40px;
        padding: 10px 30px 10px 30px;
        background-color: rgba(250, 128, 114, 0.5);
        color: $color-3;
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);


        legend {
            order: 0;
            align-self: center;
            color: $color-1;
        }

        label {
            margin: 10px 20px 4px 20px;
            padding: 0 20px;
            border-radius: 40px;
            border: solid;

            &:hover {
                transform: scale(1.2);
            }

            &:active {
                transform: scale(0.9);
            }
        }



        .checked {
            color: $color-1;
            background-color: $color-3;
        }

        .unchecked {
            color: $color-3;
        }
    }

    #generationDiv {
        min-width: 75%;
        max-width: 95%;
        margin-bottom: 20px;
        border: solid;
        border-color: $color-3;
        background-color: rgba(250, 128, 114, 0.5);
        border-radius: 40px;
        padding: 10px 30px 10px 30px;
        color: $color-3;
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);

        legend {
            color: $color-1;
        }
    }

    #spritesDiv {
        display: none;
    }
}

#pokemonList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;

    .carte {
        background-image: url(src/ball.png);
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: 0 15%;
        position: relative;
        height: 200px;
        width: 200px;
        border-radius: 8px;
        cursor: pointer;


        &:hover {
            z-index: 2;

            .infos {
                opacity: 1;
                transform: scaleY(1);
            }
        }

        &:active {
            transform: scale(0.85);
        }

        .infos {
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.7);
            color: white;
            height: 100%;
            width: 100%;
            display: grid;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            opacity: 0;
            transform: scale(0);
            transition: 0.3s;
        }

        .imagePkmn {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 20px;
        }
    }
}

footer {
    height: 15%;
    @include flexCenter;
    color: $color-3;
    background-image: url('src/backgroundDown.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;

}